.article-card-shimmer {
  &__img {
    width: 100%;
    height: 140px;
  }
  &__text {
    margin: 0 35px;
    margin-top: 30px;
    display: flex;
    flex-flow: column nowrap;
  }
  &__category {
    width: 30%;
    height: 12px;
  }
  &__title {
    width: 60%;
    height: 18px;
    margin-top: 15px;
  }
  &__details {
    margin-top: 30px;
    width: 90%;
    height: 100px;
  }
}
